<header>
    <div class="container">
        <div class="header-title">
            <a href="#">Skill Market</a>
        </div>

        <div class="header-nav">
            <nav>
                <li><%= link_to("sign up", new_user_path)%></li>
            </nav>
        </div>
    </div>
</header>